
#todasTorres{
    display: flex;
    justify-content: space-around;
    position: relative;
    margin-top: 5vh;
}

.torre {
    display: flex; 
    flex-direction: column-reverse; 
    align-items: center;
    width: 2vw;
    height: 15vh;
    background-color: black;
    position: relative;
}

.disco {
    height: 2vh;
    border: solid 1px black;
    right: 33vw;
    top: 15vh;
}

.disco-1 {
    width: 19vw;
    background-color: brown;
}

.disco-2 {
    width: 15vw;
    background-color: chartreuse;
}

.disco-3 {
    width: 11vw;
    background-color: crimson;
}

.disco-4 {
    width: 7vw;
    background-color: darkblue;
}