html {
    background-color: #ccc;
}

#todasTorres {
    display: flex;
    justify-content: space-around;
    position: relative;
    margin-top: 5vh;
}

.torre {
    display: flex; 
    flex-direction: column-reverse; 
    align-items: center;
    width: 2vw;
    height: 15vh;
    background-color: grey;
    border: black 1px solid;
    position: relative;
}

.disco {
    height: 2vh;
    border: solid 1px navy;
    right: 33vw;
    top: 15vh;
}

.disco-1 {
    width: 19vw;
    background-color: #B10DC9;
}

.disco-2 {
    width: 15vw;
    background-color: #F012BE;
}

.disco-3 {
    width: 11vw;
    background-color: #85144b;
}

.disco-4 {
    width: 7vw;
    background-color: #FF4136;
}